@page
@model QuotesExchangeApp.Pages.PropertiesModel
@{
}
<h2>Изменение частоты обновления котировок</h2>
<p>@Model.Message</p>
<form method="post">
    <input type="number" name="sum" />
    <input class="custom-input" type="submit" value="Отправить" />
</form>
